@font-face {
    font-family: 'Codec Pro';
    src: local('font/CodecPro/Codec Pro News'), local('Codec-Pro-News'),
        url('font/CodecPro/CodecPro-News.woff2') format('woff2'),
        url('font/CodecPro/CodecPro-News.woff') format('woff'),
        url('font/CodecPro/CodecPro-News.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Codec Pro';
    src: local('font/CodecPro/Codec Pro News'), local('Codec-Pro-News'),
        url('font/CodecPro/CodecPro-News.woff2') format('woff2'),
        url('font/CodecPro/CodecPro-News.woff') format('woff'),
        url('font/CodecPro/CodecPro-News.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* .wrapper */

.wrapper {
    width: 100%;
    max-width: 1366px;

    margin: 0 auto;

    overflow: hidden;
}

/* .header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


/* .logo */

.logo__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* .phone */

.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* .social */

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 11px;

}