@font-face {
    font-family: 'Codec Pro';
    src: local('font/CodecPro/Codec Pro News'), local('Codec-Pro-News'),
        url('font/CodecPro/CodecPro-News.woff2') format('woff2'),
        url('font/CodecPro/CodecPro-News.woff') format('woff'),
        url('font/CodecPro/CodecPro-News.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Codec Pro';
    src: local('font/CodecPro/Codec Pro News'), local('Codec-Pro-News'),
        url('font/CodecPro/CodecPro-News.woff2') format('woff2'),
        url('font/CodecPro/CodecPro-News.woff') format('woff'),
        url('font/CodecPro/CodecPro-News.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* .wrapper */

.wrapper {
    width: 100%;
    max-width: 1366px;

    margin: 0 auto;

    overflow: hidden;

    background: #ffffff;
}

/* .header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Inter, sans-serif;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    width: 100%;

    padding: 17px 71px 20px;
}


/* .logo */

.logo__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo__span {
    font: normal 600 12px/1.21 Inter, sans-serif;
    letter-spacing: -2%;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
}


/* .address */

.address {
    font: normal 400 14px/1.21 Inter, sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

.address__desc:not(:last-child) {
    margin: 0 0 9px;
}


/* .phone */

.phone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font: normal 700 16px/1.21 Inter, sans-serif;
    color: rgba(33, 40, 100, 1);
}

.phone *:not(:last-child) {
    margin: 0 0 8px;
}


/* .contacts */

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts *:not(:last-child) {
    margin: 0 0 8px;
}


/* .btn */ 

.btn {
    display: block;

    padding: 14px 39px 13px;

    border: 1px solid rgba(33, 40, 100, 1);
    border-radius: 25px;
    background: inherit;

    font: normal 700 12px/1.21 Inter, sans-serif;
    text-transform: uppercase;
    color: rgba(33, 40, 100, 1);
}

/* .social */

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 11px;
}


/* .burger */

.header__burger {
    display: none;
}

.burger {
    background: inherit;
    border: none;
}

.burger__line {
    display: block;

    width: 26px;
    height: 2px;

    background: #353d83;
}

.burger__line:before,
.burger__line:after {
    display: block;

    content: "";

    position: relative;

    width: 130%;
    height: inherit;

    background: inherit;
}

.burger__line:before {
    top: -9px;
}

.burger__line:after {
    bottom: -9px;
}

/* .header__nav */

.header__nav {
    width: 100%;
}


/* .nav */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    font: normal 500 14px/1.21 Inter, sans-serif;
    color: #ffffff;
}

.nav--menu {
    padding: 18px 90px 22px;

    background: #15193d;
}

.nav--catalog {
    padding: 13px 90px 15px;

    background: #8c93d1;

    font-weight: 700;
}

.nav__link {
    transition: color 0.3s ease-in;
}

.nav__link--active,
.nav__link:hover {
    color: #ffc239;
}