@font-face {
    font-family: 'Codec Pro';
    src: local('font/CodecPro/Codec Pro News'), local('Codec-Pro-News'),
        url('font/CodecPro/CodecPro-News.woff2') format('woff2'),
        url('font/CodecPro/CodecPro-News.woff') format('woff'),
        url('font/CodecPro/CodecPro-News.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Codec Pro';
    src: local('font/CodecPro/Codec Pro News'), local('Codec-Pro-News'),
        url('font/CodecPro/CodecPro-News.woff2') format('woff2'),
        url('font/CodecPro/CodecPro-News.woff') format('woff'),
        url('font/CodecPro/CodecPro-News.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* .wrapper */

.wrapper {
    width: 100%;
    max-width: 1366px;

    margin: 0 auto;

    overflow: hidden;
}

/* .header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Inter, sans-serif;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    width: 100%;
}


/* .logo */

.logo__link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo__span {
    font: normal 600 12px/1.21 Inter, sans-serif;
    letter-spacing: -2%;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
}


/* .address */

.address {
    font: normal 400 14px/1.21 Inter, sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

.address__desc:not(:last-child) {
    margin: 0 0 9px;
}


/* .phone */

.phone {
    display: flex;
    flex-direction: column;
    align-items: center;

    font: normal 700 16px/1.21 Inter, sans-serif;
    color: rgba(33, 40, 100, 1);
}

.phone__link:not(:last-child) {
    margin: 0 0 8px;
}


/* .contacts */

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts *:not(:last-child) {
    margin: 0 0 8px;
}


/* .btn */ 

.btn {
    display: block;

    padding: 14px 39px 13px;

    border: 1px solid rgba(33, 40, 100, 1);
    border-radius: 25px;
    background: inherit;

    font: normal 700 12px/1.21 Inter, sans-serif;
    text-transform: uppercase;
    color: rgba(33, 40, 100, 1);
}

/* .social */

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 11px;
}


/* .header__nav */

.header__nav {
    width: 100%;
}


/* .nav */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}